
extends layout

block content
  h1 PowerShell Script Dashboard

  p This is a service that lets you trigger PowerShell scripts to handle tasks for you.
    
    each item in scripts.Scripts
      br
      h3 Name: #{item.Name}
      h4 Description: #{item.Description}
      h4 Notes: #{item.Notes}
      h4 Tags: #{item.Tags}
      
      a(class='button', href="/scripts/"+item.Name+"/details") Run #{item.Name}
    
