extends layout

block content
 h1= title
 p Welcome to #{title}

 h2=details.Name

 form(method='POST' action="/readyscript/"+details.Name)
  if details.param.length >= 1
    p To run this script please fill in the paramerters
    each p in details.param
      div(class='form-group')
        label(for=`${p.Name}`) [#{p.ParamType}] #{p.Name}
        input(class='form-control' type=`${p.formType}` placeholder='Hello World!' name=`${p.Name}`)
    
    button(class="btn btn-primary" type='submit') Run Script
  else
    button(class="btn btn-primary" type='submit') Run Script
         
 br
 
    